<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="input-group mb-4">
        <input
          type="text"
          #name
          class="form-control"
          placeholder="Search Patient"
          (input)="fetchPatientByName(name.value)"
        />
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table
        datatable="ng"
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table table-hover"
        ng-if="patients"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Phone number</th>
          </tr>
        </thead>

        <tbody *ngIf="patients?.length != 0">
          <tr *ngFor="let patient of patients">
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.phone_number }}</td>
          </tr>
        </tbody>

        <!-- <tbody *ngIf="patients?.length === 0">
          <tr>
            <td colspan="5" class="no-data-available">No data!</td>
          </tr>
        </tbody> -->
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
