<div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <button type="button" class="btn btn-success mb-4" (click)="DownloadReport()">Download</button>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-striped"
        >
          <thead>
            <tr>
              <th>PatientName</th>
              <th>EncounterDate</th>
              <th>Location</th>
              <th>HIV status</th>
              <th>Gender</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody ng-if="hivData?.length > 0">
            <tr *ngFor="let data of hivData">
              <td>{{ data.name }}</td>
              <td>{{ data.encounter_datetime }}</td>
              <td>{{ data.location_id }}</td>
              <td>{{ data.hiv_status }}</td>
              <td>{{ data.gender }}</td>
              <td>{{ data.age }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  
